:root {
    --base-text-colour: #a2a2a2;
    --background-color: #1c1c1c;
    --background-color-light: #cecece;
    --background-color-dark: black;
    --base-text-highlight-colour: #fafafa;
}

/* Create page size and make sure it fits the whole screen */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--base-text-colour);
    background-color: var(--background-color);
}

body {
    min-height: 100%;
}

#sideBar {
    background-color: var(--background-color);
    border-right: 1px var(--background-color-dark) solid;
}

#sideBar ul {
    list-style-type: none;
    margin: 0;
}

#sideBar #mainNavBar > li > div:hover, .dropDownContent div:hover {
    color: var(--base-text-highlight-colour);
}

#sideBar a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 12px 8px 6px 10px;
    user-select: none;
    cursor: pointer;
}

#sideBar .dropDownContent{
    padding-left: 16px;
}

.selected {
    color: var(--base-text-highlight-colour);
    text-decoration: underline;
}

.hiddenFeature {
    display: none;
}
  
/* Create the caret/arrow with a unicode, and style it */
.dropDownButton .dropDownIcon::before {
    content: "\279C";
    color: var(--base-text-colour);
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
}

.dropDownButton.selected .dropDownIcon::before {
    color: var(--base-text-highlight-colour);
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.dropDownButton.selectedDD .dropDownIcon::before {
    transform: rotate(90deg);
}

#sideBar .dropDownIcon {
    display: inline-block;
    width: 20px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #closeContainer {
        right: 0;
        position: absolute;
        padding-right: 10px;
        font-size: 50px;
        color: var(--base-text-colour);
        display: inline-block;
        line-height: 25px;
        cursor: pointer;
    }
    
    #b_menu {
        padding: 8px 10px 8px 100%;
        display: block;
        float: right;
        z-index: 101;
    }
      
    .b_men {
        width: 35px;
        height: 5px;
        background-color: var(--base-text-colour);
        margin: 6px 0;
    }

    #burgerHug {
        background-color: var(--base-text-colour);
        overflow: auto;
        border-bottom: 1px var(--background-color-dark) solid;
    }

    #sideBar {
        width: 60%;
        position: fixed;
        right: 0;
        top: 0;
        padding-top: 20px;
        border-left: 2px solid var(--background-color-dark);
        border-bottom: 2px solid var(--background-color-dark);
    }

    #mainNavBar {
        padding-left: 0;
    }

    #sideBarPush, .hiddenFeatureMob {
        display: none;
    }

    #pageContent {
        display: block;
    }
}

@media screen and (min-width: 600px) {

    #pageContainer {
        display: flex;
        min-height: 100%;
    }

    #sideBar {
        flex: 1;
        max-width: 25%;
        min-width: 250px;
    }

    #pageContent {
        flex: 5;
    }

    #pageRightHand {
        flex: 1;
        background-color: var(--background-color);
    }


    .hiddenFeatureBig {
        display: none;
    }

    #mainNavBar {
        padding-left: 10px;
        padding-top: 2%
    }
}

#dynamicContent h1 {
    background-color: var(--background-color);
    margin: 0;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
    color: var(--base-text-colour);
}

#pageText {
    padding-left: 3%;
    padding-right: 10%;
}

#siteGreeting {
    text-align: center;
    padding-top: 40vh;
    font-size: 2em;
    font-weight: bold;
}

.docMenuLink {
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: inherit;
}

.docMenuLink:hover {
    color: var(--base-text-colour);
}

#docMenuArea {
    padding-left: 10%;
    margin-top: 35px;
}

img {
    margin: auto;
    display: block;
    background-color: var(--background-color-light);
    padding: 10px 40px;
}

pre {
    background-color: var(--background-color-dark);
}

.headerRowH3 {
    padding-left: 30px;
}

.headerRowH4 {
    padding-left: 60px;
}

.headerRowH5 {
    padding-left: 90px;
}


h4, h5 {
    margin-bottom: 0px;
}

h2 + p, h3 + p, h4 + p, h5 + p {
    margin-top: 5px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 160%;
}

h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 125%;
}

h4 {
    margin-top: 5px;
    font-size: 110%;
}

a:link, a:visited {
    color: var(--base-text-highlight-colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre code {
    display: block;
    padding: 10px 15px;
    font-size: 105%;
    line-height: 150%;
}