<!DOCTYPE html>

<html lang="en">

<head>
    <title>[pageContent.title] | Caleb Stride</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">  
    <meta name="author" content="Caleb Stride">

    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/styles/hljs.css" rel="stylesheet" type="text/css">
    
</head>

<body>

    <div id="page-container">

        <div class="page-buffer" id="left-buffer"></div>

        <nav id="side-bar"></nav>

        <div id="page-content">
            <div id="dynamic-content">
                <h1 id="page-title">[pageContent.header]</h1>
                <div id="page-text">[pageContent.content]</div>
            </div>
        </div>

        <div id="page-right-hand"> </div>
        <div class="page-buffer" id="right-buffer"></div>
    </div>

    <div id="burger-hug">
        <div id="b-menu" class="hidden-feature-big" onclick=" ContentTools.hideOrShow('side-bar', true);
                    ContentTools.hideOrShow('close-container', true); ContentTools.hideOrShow('b-menu', true);">
            <div class="b-men"></div>
            <div class="b-men"></div>
            <div class="b-men"></div>
        </div>
    </div>

    <div id="close-container" class="hidden-feature-big hidden-feature-mob" onclick="ContentTools.hideOrShow('side-bar', true);
                ContentTools.hideOrShow('close-container', true); ContentTools.hideOrShow('b-menu', true);">
        &times;
    </div>
</body>
</html>