:root {
    --base-text-colour: #a2a2a2;
    --base-text-colour-dark: #6b6b6b;
    --base-text-colour-darker: #414141;
    --background-color: #1c1c1c;
    --background-color-shade: #282828;
    --background-color-light: #cecece;
    --background-color-dark: black;
    --base-text-highlight-colour: #d5d5d5;
    --blue-highlight: #00bfbf;
}

html.light-theme {
    --base-text-colour: black;
    --base-text-colour-dark: #6b6b6b;
    --base-text-colour-darker: #414141;
    --background-color: #e1e0e0;
    --background-color-shade: #c5c5c5;
    --background-color-light: #e1e0e0;
    --background-color-dark: black;
    --base-text-highlight-colour: black;
    --blue-highlight: #0034ff;
}

/* Create page size and make sure it fits the whole screen */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--base-text-colour);
    background-color: var(--background-color);
    overflow: hidden;
}

#side-bar {
    background-color: var(--background-color);
}

#side-bar ul {
    list-style-type: none;
    margin: 0;
}


#side-bar a {
    color: var(--base-text-highlight-colour);
    padding: 10px 0 10px 10px;
    user-select: none;
    cursor: pointer;
    flex-grow: 1;
    border-bottom: 1px solid var(--background-color-shade);
}

#side-bar .drop-down-content {
    padding-left: 24px;
}

.selected > div > a {
    text-decoration: underline;
}

.menu-button {
    display: flex;
    align-items: center;
}

.hidden-feature {
    display: none;
}

/* Create the caret/arrow with a unicode, and style it */
.drop-down-button .drop-down-icon::before {
    content: ">";
    color: var(--base-text-highlight-colour);
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
}

.drop-down-button.selected .drop-down-icon::before {
    color: var(--base-text-highlight-colour);
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.drop-down-button.selected-drop-down .drop-down-icon::before {
    transform: rotate(90deg);
}

#side-bar .drop-down-icon {
    display: inline-block;
    width: 20px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    body {
        overflow: auto;
    }

    #close-container {
        right: 10px;
        bottom: 17px;
        position: fixed;
        font-size: 65px;
        color: var(--base-text-colour);
        line-height: 25px;
        cursor: pointer;
    }

    #b-menu {
        margin-right: 10px;
        margin-top: 10px;
        float: right;
    }

    .b-men {
        width: 35px;
        height: 5px;
        background-color: var(--base-text-colour);
        margin: 6px 0;
        border-radius: 2px;
    }

    #burger-hug {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8vh;
        background: var(--background-color);
        border-top: 3px solid var(--base-text-colour-darker);
    }

    #side-bar {
        width: 100%;
        position: fixed;
        right: 0;
        bottom: 0;
        border-top: 3px solid var(--base-text-colour-darker);
        overflow: auto;
        max-height: 50%;
    }

    #side-bar a {
        padding: 15px;
    }

    .menu-button {
        border-bottom: solid var(--base-text-colour-darker) 1px;
        border-left: var(--base-text-colour-dark) solid 4px;
        border-top: solid var(--base-text-colour-darker) 1px;
    }

    #main-nav-bar {
        padding-left: 0;
        padding-bottom: 8.5vh;
    }

    #side-bar-push, .hidden-feature-mob {
        display: none;
    }

    #page-content {
        min-height: 89vh;
        padding-top: 2vh;
    }

    #theme-wrap-mob .theme-button {
        font-size: inherit;
        padding: 4px 8px;
        border: 2px solid var(--base-text-colour-dark);
    }

    #theme-wrap-mob {
        margin: 10px 10px 10px 20px;
    }

}

@media screen and (min-width: 600px) {

    @media screen and (max-width: 1400px) {
        #page-right-hand {
            display: none;
        }

        .page-buffer {
            flex-grow: 0.1;
        }
    }

    #page-container {
        display: flex;
        height: 100%;
    }

    #side-bar {
        flex: 1;
        max-width: 15%;
        min-width: 210px;
    }

    #page-content {
        flex: 1;
        overflow-y: auto;
        max-width: 1000px;
        min-width: 500px;
        padding-top: 1%;
    }

    #page-right-hand {
        flex: 1;
        background-color: var(--background-color);
        max-width: 15%;
    }

    .hidden-feature-big {
        display: none;
    }

    #main-nav-bar {
        padding-left: 0;
        padding-top: 15%
    }

    .page-buffer {
        min-width: 20px;
        flex-grow: 0.2;
    }
}

#dynamic-content h1 {
    background-color: var(--background-color);
    margin: 0;
    padding-bottom: 1%;
    padding-left: 3%;
    color: var(--base-text-highlight-colour);
    font-size: 240%;
}

#page-text {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20%;
}

#site-greeting {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 30%;
}

#site-greeting div {
    width: 100%;
}

.doc-menu-link {
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    text-decoration: none;
}

#doc-menu-area {
    padding-left: 10%;
    margin-top: 35px;
}

img {
    margin: auto;
    display: block;
    background-color: var(--background-color-light);
    padding: 1% 2%;
    max-width: 96%;
}

.header-row-h3 {
    padding-left: 30px;
}

.header-row-h4 {
    padding-left: 60px;
}

.header-row-h5 {
    padding-left: 90px;
}


h2, h3, h4, h5 {
    margin: 0;
    padding-bottom: 5px;
}

h2 + p, h3 + p, h4 + p, h5 + p {
    margin-top: 5px;
}

h2 {
    padding-top: 20px;
    font-size: 170%;
    color: var(--base-text-highlight-colour);
}

h3 {
    padding-top: 15px;
    font-size: 140%;
    color: var(--base-text-highlight-colour);
}

h4 {
    padding-top: 10px;
    font-size: 100%;
    color: var(--base-text-highlight-colour);
    padding-bottom: 0;
}

.header-num {
    display: inline;
}

p a {
    color: var(--blue-highlight);
    text-decoration: none;
}

a {
    color: var(--base-text-highlight-colour);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

pre code {
    display: block;
    padding: 10px 15px;
    font-size: 105%;
    line-height: 150%;
    border-radius: 7px;
    overflow-x: auto;
}

.theme-button {
    color: var(--base-text-highlight-colour);
    background-color: var(--background-color);
    border: 2px solid var(--base-text-highlight-colour);
    border-radius: 3px;
}

.theme-button:hover {
    text-decoration: underline;
}

#theme-wrap {
    position: fixed;
    bottom: 20px;
}

.blog-list {
    list-style: none;
    padding: 0;
    border-top: 1px solid var(--background-color-shade);
}

.blog-list > div {
    padding: 10px;
    border-bottom: 2px solid var(--background-color-shade);
}

.blog-date {
    font-size: 90%;
    font-weight: bold;
    float: right;
}

.blog-link {
    padding-bottom: 5px;
}

.blog-summary {
    padding-top: 12px;
}

.compose-app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}